<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eventhub">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddPackage5"></activity>
        <activity android:name=".customer_crud" />
        <activity android:name=".customer_form02" />
        <activity android:name=".AddPackage2" />
        <activity android:name=".customer_form01" />
        <activity android:name=".Login4" />
        <activity android:name=".Register" />
        <activity android:name=".AddEvent5" />
        <activity android:name=".AddEvent4" />
        <activity android:name=".AddEvent3" />
        <activity
            android:name=".AddEvent2"
            android:label="@string/title_activity_add_event2" />
        <activity android:name=".AddEvent1" />
        <activity android:name=".TheWishlist" />
        <activity android:name=".SearchList" />
        <activity android:name=".Location" />
        <activity android:name=".Type" />
        <activity android:name=".Date" />
        <activity android:name=".WishMainActivity" />
        <activity android:name=".barCode" />
        <activity android:name=".details" />
        <activity android:name=".ticketBalcony" />
        <activity android:name=".ticketBack" />
        <activity android:name=".ticketFront" />
        <activity android:name=".gold" />
        <activity android:name=".platinum" />
        <activity android:name=".MainActivityOrderTickets" />
        <activity android:name=".Success" />
        <activity android:name=".purchase" />
        <activity android:name=".updateCard" />
        <activity android:name=".cardpayment" />
        <activity android:name=".Login3" />
        <activity android:name=".Login2" />
        <activity android:name=".Login1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Success" />
        <activity android:name=".purchase" />
        <activity android:name=".updateCard" />
        <activity android:name=".cardpayment" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>